body {
    text-align: center;
}

.lose {
    color: red;
}

.win {
    color: green;
}

.draw {
    color: purple;
}

.gameOver .bps {
    display: none;
}

.playAgain {
    border: 1px solid blue;
}