body {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    font-family: "Fondamento";
    background-image: url('images/kiwihug-3gifzboyZk0-unsplash.jpg');
}

h1 {
    font-family: "Uncial Antiqua";
}

.lose {
    color: red;
}

.win {
    color: green;
}

.draw {
    color: purple;
}

.gameOver .bps {
    display: none;
}

.playAgain {
    border: 1px solid blue;
}

#score {
    display: flex;
    justify-content: space-evenly;
    font-family: "Fondamento";
    font-size: 1.5em;
}

#pScore, #fScore {
    font-size: 2em;
    border: 1px solid black;
    width: 75px;
    height: 75px;
    margin-top: 10px;
}

.score p:first-child {
    font-size: 1.6em;
    margin-bottom: 6px;
}