body {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    font-family: "Fondamento";
}

h1 {
    font-family: "Uncial Antiqua";
}

.lose {
    color: red;
}

.win {
    color: green;
}

.draw {
    color: purple;
}

.gameOver .bps {
    display: none;
}

.playAgain {
    border: 1px solid blue;
}

#score {
    display: flex;
    justify-content: space-evenly;
    font-family: "Uncial Antiqua";
    font-size: 1.5em;

}

#pScore, #fScore {
    font-size: 2em;
}